@import url(../assets/css/all.min.css);
@import url(../assets/css/materialdesignicons.min.css);
@import url(../assets/fonts/regular/pt-root-ui-regular.css);
@import url(../assets/fonts/bold/pt-root-ui-bold.css);

/* app */
:root {
  --app-header-height: 4rem;
  --app-view-width: 480px;
  --app-view-mobile-width: 100vw;
  --border-radius: calc(var(--unit) * 0.5);
  --icon-size: 1rem;
  --calendar-day: 4.48rem;
}

html,
body {
  overscroll-behavior-y: contain;
}

body {
  height: 100vh;
}

.icon > .mdi {
  font-size: var(--icon-size);
}

.icon > .mdi.mdi-size-sm {
  font-size: calc(var(--icon-size) * 1.5);
}

.icon > .mdi.mdi-size-md {
  font-size: calc(var(--icon-size) * 2.25);
}

.icon > .mdi.mdi-size-lg {
  font-size: calc(var(--icon-size) * 3);
}

.app-view {
  min-width: var(--app-view-width);
  transition: margin 0.15s ease-in-out;
}

.app-frame,
.app-view {
  width: var(--app-view-width);
  height: 640px;
}

.popup-dialog.w-6-12:not(.popup-dialog-bottom) {
  max-width: var(--app-view-width);
}

.popup-dialog-body > .drag-ctrl {
  content: '';
  display: block;
  background-color: var(--color-grey-light);
  width: calc(var(--unit) * 8);
  height: calc(var(--unit) * 0.5);
  margin: -0.75rem auto 0.75rem auto;
  border-radius: calc(var(--unit) * 0.25);
  cursor: grab;
}

.popup-dialog-bottom {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.popup-dialog-bottom > .popup-dialog-body {
  transition: all 0.3s ease-out;
  margin-bottom: 0;
}

.popup-dialog-bottom:not(.popup-initialized) > .popup-dialog-body {
  margin-bottom: -100vh;
}

.app-view-primary.app-view-active {
  margin-left: 0;
}

.app-view-primary:not(.app-view-active) {
  margin-left: calc(var(--app-view-width) * -1);
}

.app-container {
  height: 100%;
}

.app-header {
  height: var(--app-header-height);
  font-size: 1.125rem;
}

.app-header .icon > .mdi::before {
  opacity: 0.7;
}

.app-content {
  height: calc(100% - var(--app-header-height));
}

.app-has-notifications {
  position: relative;
}

.app-has-notifications::after {
  content: '';
  display: block;
  background-color: var(--color-red);
  width: calc(var(--unit) * 0.75);
  height: calc(var(--unit) * 0.75);
  position: absolute;
  top: 0.25rem;
  right: 0;
  border-radius: 50%;
  border: calc(var(--unit) * 0.25) solid var(--color-white);
}

/* calendar */
.app-calendar-weeks {
  padding-bottom: 4rem;
}

.app-calendar-day {
  height: var(--calendar-day);
  border: 1px dashed transparent;
}

.app-calendar-day:hover {
  border-color: var(--color-grey);
  border-radius: calc(var(--unit) * 0.5);
}

.app-calendar-day > .skeleton {
  width: 1.5rem;
  border-radius: 50%;
}

.app-calendar-event {
  height: calc(var(--unit) * 0.5);
  max-height: calc(var(--unit) * 0.5);
  border-radius: calc(var(--unit) * 0.25);
}

.app-schedule {
  height: calc(100% - var(--app-header-height));
}

@media (max-width: 480px) {
  .app-view {
    min-width: var(--app-view-mobile-width);
  }

  .app-frame,
  .app-view {
    width: var(--app-view-mobile-width);
    height: 100vh;
  }

  .app-view-primary:not(.app-view-active) {
    margin-left: calc(var(--app-view-mobile-width) * -1);
  }
}
